{{>header}}
{{>navbar}}
<h1>Edvard Munch</h1>
    <hr> <hr>
    <br> <br>

    <h2>Biografia</h2>
    <br> 
<p>Edvard Munch nació el 12 de diciembre de 1863 en Løten, Noruega. Hijo del médico militar Christian Munch y su esposa Laura Cathrine, tuvo una infancia muy difícil, ya que su madre y su hermana mayor murieron de tuberculosis cuando él era muy joven, y su padre era un hombre de economía modesta dominado por obsesiones de tipo religioso que falleció en 1889. De todo ello surgió una personalidad conflictiva y un tanto desequilibrada, que él mismo consideraba la base de su genio. De los cinco hijos del matrimonio Munch, solo Anders se casaría, pero murió a los pocos meses de la boda. <br>

        En el año 1879 comienza la carrera de ingeniería, pero unos años más tarde la deja para empezar su carrera artística que le abrió el camino al desarrollo del expresionismo, hasta que en el año 1881 vende dos cuadros y pinta su primer autorretrato. El pintor naturalista noruego Christian Krohg fue un maestro esencial para Munch que en gran variedad de ocasiones corregía sus trabajos y le ayudaba a mejorar. Participó por primera vez en la exposición de otoño de Cristianía (Oslo) donde estableció relaciones con el círculo de literatos y artistas de la capital.</p>
        <br><br>
        <a href="/images/pin21.jpg">a</a>
        <br>
        <a href="/images/pin22.jpg"></a>
        <br>
        <a href="/images/pin23.jpg"></a>
        <br>
        <a href="/images/pin24.jpg"></a>
        <br>
        <a href="/images/pin25.jpg"></a>
{{>footer}}